
 body {
   font-family: 'CS ChatThai';
   background-size: cover;
   overflow-x: hidden;
   font-size: 1.4rem;
 }

 .btn{
  font-size: 1.4rem;
}

 button {
   font-size: 1.4rem;
 }

 #map {
   flex: 1;
 }

 #topnav{
   height: calc(100% - 2rem);
   margin-bottom: 1.4rem;
 }
 .sp-require{
   color:red
 }

 .modal-body{
   padding-top:2rem;
   padding-bottom:2rem;
   padding-left:3rem;
   padding-right:3rem;
 }
 .content-wrapper {
  /* min-height: unset; */
  background:#ffff;
  /* min-height: calc(100% - 2rem); */
  overflow-y: scroll;
}
.card-title{
  font-size: 1.4rem;
}

.content-header{
  margin-top: 3vh;
  margin-left: 3vw;
  margin-right: 3vw;

}

.content{
  margin-left: 3vw;
  margin-right: 3vw;
}

 :not(.layout-fixed) .main-sidebar{
  height: 100vh;
  min-height: unset;
}


 #filterButton {
   display: none;
 }

 #filterMainPageDiv {
   margin-right: 15px;
   float: right;

 }

 #filterContainerDiv {
   display: none;
 }

 #nav-user-name{
   margin-top:0;
   margin-bottom:0;
 }

 .dropdown {
   display: inline;

 }
 #button-div {
   margin-right: 5%;
   margin-left: 5%;
   float: left;
   bottom: 0;
   margin-bottom: 5vh;
   position: absolute;
 }

 #signOutBtn {
   background-color: red;
 }

 .signout {
   bottom: 0;
   margin-bottom: 5vh;
   margin-left: 5%;
   float: left;
 }
 a{
   cursor: pointer;
   font-size: 1.4rem;
 }


 #sidebar-brand-logo{
   padding:10%;
   color:green;
 }
 .brand-link .brand-image{
   margin-top: 0px;
 }
#band-name{
  font-size: 1.8rem;
  font-weight: bold;
}

 .modal{
   top:20%
 }

.bt-progressive-nav {
  display: none;
  margin-right: 2vw;
}

 .gm-style .gm-style-iw-d {
   font-family: 'CS ChatThai';
   margin-left: 20px;
   margin-right: 20px;
   margin-top: 10px;
   margin-bottom: 10px;
   font-size: 1.4rem;
 }

 .gm-style .gm-style-iw-d h5 {
  font-size: 1.4rem;
   text-align: center;
 }

 .form-control{
   font-size:1.4rem;
 }

 h4{
   font-size: 1.8rem;
 }

 #bar-header {
  display: block;
}

#bar-header{
  content: "";
  display: table;
  clear: both;
  width: 100%;
}

#header-mobile {
  display: none;
}

.bar-col-header{
  width: 50%;
  float: left;
}

#topnav{
  display: none;
}

.mobile-v-header{
  display: none
}
.max-v-header{
  display: block
}

@media screen and (max-width: 992px){
 body,a{
   font-size:1.3rem
 }
 h4{
   font-size:1.6rem
 }


  #topnav{
    display: flex;
  }

  #topnav{
    color: white;
  }
  .bt-custom-hrader {
    display: none;
  }
  #header-mobile {
    display: block;
  }
  #bar-header {
    display: none;
  }

  .bt-progressive-nav {
    display: block;
  }

  #hamburger {
    display: inline;
  }

  #filterMainPageDiv {
    display: none;
  }

  #filterButton {
    display: inline;
  }

  #filterContainerDiv {
    display: block;
    width: auto;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
  }

  #dd-button,
  #land-name-filter,#plant-filter {
    width: 100%;
    margin-top: 5%;
    font-size: 1.4rem;
  }

  /* #button-div {
    display: none;
  } */
  .right-header-btn{
    display: none;
  }
  .mobile-v-header{
    display: block
  }
  .max-v-header{
    display: none
  }
}

.table td, .table th{
  border-top: unset;
  padding:.4rem;
  vertical-align:unset;
}

.table-curved {
  border-collapse: collapse;
  text-align: center;
}

.table-curved th {
  padding: 3px 10px;
}

.table-curved th:first-child {
  padding: 6px;
}

.table-curved td {
  background-color: #f1efef;
  padding: 6px 10px;
  border-bottom: 10px solid white;
  border-top: 10px solid white;
}

.table-curved td:first-child {
  padding: 6px;
  border-radius: 18px 0 0 18px;
  /* background-color: rgb(141, 133, 130); */
}

.table-curved td:last-child {
  border-radius: 0 18px 18px 0;
}

/* .table-curved tr:hover td:not(:first-child) {
    background-color: #c5c5c5;
  } */
.table-curved tr:hover td {
  background-color: #d4d4d4;
}

.table-curved tr.blue td:first-child {
  background-color: cornflowerblue;
}

.table-curved tr.green td:first-child {
  background-color: forestgreen;
}

.table tbody+tbody {
  border-top: none
}
