


  #calendar{
    font-family: 'Sarabun' ;
  }


  .table-responsive{
    border-radius: 10px;
  }

  #activities-mobile{
    display: none;
  }

  #activities-browser{
    display: block;
  }

  .fc-toolbar h2{
    font-size: 1.4rem
  }
  .fc-right div.btn-group button{
    font-size: 1.0rem
  }

  @media screen and (max-width: 992px) {
    #activities-mobile{
      display: block;
    }
    .fc-toolbar h2{
      font-size: 1.4rem
    }
    .fc-today-button{
      display:none
    }

    #activities-browser{
      display: none;
    }
  }

