#managers-div div img:hover{
    background-color:#ECECEC;
}

@media screen and (max-width: 992px) {
    .content-header{
      display: none;
    }
    .total-small{
      display: block
    }
    .total-big{
      display:none
    }
    .activities-big{
      display:none
    }
    .activities-small{
      display:block
    }

  }