#filter-mainpage {
  margin-right: 15px;
  float: right;
  margin-top: 15px;
}

.dropdown {
  display: inline-block;
}

#dd-button,
#land-name-filter,#plant-filter {
  background-color: #EFEFEF;
  border-color: #EFEFEF;
  color: gray;
  font-size: 1.4rem;
}
#map{
  flex:1
}

#addLandBtn {
  background-color: #FF7E9D;
  border-color: #FF7E9D;
  font-size: 1.8rem;
}

.content-wrapper{
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
}

@media screen and (max-width: 992px) {
  .dropdown {
    width: 100%;
  }
}
