#filter-mainpage {
  margin-right: 15px;
  float: right;
  margin-top: 15px;
}

.dropdown {
  display: inline-block;
}

.btn-primary.disabled,
.btn-primary:disabled {
  background-color: rgb(211, 211, 211);
  border-color: rgb(211, 211, 211);
  color: gray;

}

.land-filter input {
  padding: 0;
  border: none;
  background: none;
  color: gray;
}

.land-filter {
  background-color: #EFEFEF;
  border-color: #EFEFEF;
  color: rgb(75, 75, 75);
}

#map {
  flex: 1
}

#addLandBtn {
  background-color: #FF7E9D;
  border-color: #FF7E9D;
}

.content-wrapper>.content {
  padding: 0px;
}

.content {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  margin: 0px;
  padding: 0px;
}

@media screen and (max-width: 992px) {

  #button-div {
    margin-bottom: 2vh;
  }

  .btn {
    font-size: 1.0rem;
  }

  .col-3 {
    text-align: center;
  }
  .dropdown,.dropdown button{
    margin-top: 2vh;
    width: 100%;
  }
}

.pie-chart {
  width: 49px;
  height: 30px;
  position: absolute;
  vertical-align: middle;
  margin-top: 30px;
  margin-left: -69px;
  border: 0px none;
  background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%;
  font: bold 18px Arial;
  text-align: center;
  color: rgb(247, 102, 71);
  padding: 0px;
  -moz-appearance: none;
}

.pie-chart {
  background-color: #1d1d1d;
  font-size: 18rem;
  -webkit-text-stroke: 5px #1d1d1d;
  text-shadow: 0px 4px 4px #1d1d1d;
}