
.total-small{
  display: none
}
.total-big{
  display:block
}
.activities-big{
  display:block
}
.activities-small{
  display:none
}

@media screen and (max-width: 992px) {
  .content-header{
    display: none;
  }
  .total-small{
    display: block
  }
  .total-big{
    display:none
  }
  .activities-big{
    display:none
  }
  .activities-small{
    display:block
  }

}